.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 400px;
    margin: 2em auto;
}

.UserSignUpForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.UserSignUpForm label {
    color: black;
    margin-bottom: 1em;
    font-size: 1rem;
}

.UserSignUpForm input[type="text"],
.UserSignUpForm input[type="password"] {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

/* Password input container */
.password-input-container {
    position: relative;
}

/* Password toggle icon */
.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Submit button */
#submitcomplete {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #00008b;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submitcomplete:hover {
    background-color: #0056b3;
}

/* Clickable text */
.clickable-text {
    cursor: pointer;
    text-decoration: underline;
}

.clickable-text:hover {
    color: #9b9595;
}
